body {
  line-height: 1.666;
  background: #0a0a1b;
  color: #000000;
}


.dictionary {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 4rem auto;
  max-width: 90%;
  
  
}

.dictionary > .term {
  text-align: center;
  max-width: 20rem;
  margin-bottom: 3rem;
  padding: 2rem;
  border-radius: 10px;
  background-color: #f6c927;
  border: white 1px solid; 
  position: relative;
  
}


.dictionary > .term > dt {
  margin-bottom: 1rem;
}
.dictionary > .term > dd {
  margin-bottom: 2rem;
}

dt {
  color: white;
}

dt span {
  font-size: 200%;
  font-weight: 900;
}

.titel {
  background-color: #0e0e28;
  margin: 0 auto 20px;
  display: block;
  border-radius: 10px;
}

dd {
  font-size: 92.5%;
  font-weight: bold;
}
dt {
  font-family: Poppins;
}
dd {
  font-family: Poppins;
}
.B-button {
  display: block;
  background-color: #0e0e28;
  color: white;
  padding: 12px 24px; 
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  margin-top: 10px;



 
  

}
