body {
  /* font-family: "Montserrat", sans-serif; */
  /* font-weight: 400; */
  line-height: 1.666;
  background: #0a0a1b;
  color: #000000;
}

/* .H-h1 {
  font-weight: 900;
  font-size: 500%;
  text-align: center;
  margin-top: 4rem;
  color: #0a0a1b;
  line-height: 1.2;
} */

/* .S-span {
  padding: 5px 15px;
  background: #f6c927;
} */

.dictionary {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 4rem auto;
  max-width: 90%;
  
  
}

.dictionary > .term {
  text-align: center;
  max-width: 20rem;
  margin-bottom: 3rem;
  padding: 2rem;
  border-radius: 10px;
  /* box-shadow: 0 2px 0 rgba(66, 35, 35, 0.05), 0 5px 20px rgba(0, 0, 0, 0.1); */
  background-color: #f6c927;
  /* transition: all 100ms ease-in-out; */
  border: white 1px solid; 
  position: relative;
  
}


.dictionary > .term > dt {
  margin-bottom: 1rem;
}
.dictionary > .term > dd {
  margin-bottom: 2rem;
}

dt {
  color: white;
  /* line-height: 1; */
}

dt span {
  font-size: 200%;
  font-weight: 900;
}

.titel {
  background-color: #0e0e28;
  margin: 0 auto 20px;
  display: block;
  /* font-size: 200%; */
  border-radius: 10px;
}

dd {
  font-size: 92.5%;
  /* margin-left: 0; */
  font-weight: bold;
  /* position: relative; */
  
  /* margin-bottom: 0.25rem  ; */
}

/* dd dt {
  margin-top: 1rem;
  margin-bottom: 0.25rem;
  font-weight: 600;
  font-size: inherit;
} */

/* dd dl {
  font-size: 90%;
  margin: 1rem auto 0 auto;
  letter-spacing: 0.33px;
  max-width: 15rem;
} */

/* dd dl .term {
  margin-bottom: 1rem;
} */
dt {
  font-family: Poppins;
}
dd {
  font-family: Poppins;
}
.B-button {
  display: block;
  background-color: #0e0e28;
  color: white;
  padding: 12px 24px; 
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  
  margin-top: 10px;


/* border: none; */
  /* margin-bottom: 10px; */
 /* position: absolute; */
  /* bottom: 40px;
 /* text-align: center; */
  /* text-decoration: none; */
  /* display: inline-block; */
  /* transition: background-color 0.3s ease; */


 
  

}
