@tailwind base;
@tailwind components;
@tailwind utilities;



@layer utilities {
    .bg-color-body {
        background: #040413;
    }
    .color-btn-border-px {
        border: solid 1px #040413;
    }

    .color-yellow {
        color: #F6C927;
    }
      
    .b-yellow {
        border: 1px solid #F6C927;
    }
    .bg-yellow {
        background-color: #F6C927;
    }

    .app-container {
        display: grid;
        grid-template-rows: auto 1fr;
        min-height: 100vh;
    }
}

*
{
    @apply
    p-0
    m-0
}

::-webkit-scrollbar {
    display: none; /* הסתרת הסרגל בדפדפני WebKit (כולל Chrome ו־Safari) */
}

body
{
    @apply
    bg-color-body
}

header
{
    
    @apply
    h-max
    text-neutral-50
    bg-color-body
    flex
    justify-end
    items-center
    space-x-16
}

footer
{
    @apply
    text-neutral-50
    bg-color-body
    flex
    justify-end
    items-center
    space-x-16
    
}

.btn
{
    @apply 
    bg-color-body 
    lg:px-9 
    px-5
    w-32
    lg:w-36
    rounded-md 
    capitalize  
    color-btn-border-px
    ease-in 
    duration-200;
}

.btn:hover
{
    @apply 
    bg-yellow 
}
 